*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.kaka {
	height: 100vh;
	background: url(../images/kaki.jpg);
	background-size: cover;
	.footer {
	height: 15vh;
	background-color: black;
	border-top: 1px solid gray;
	font-family: sans-serif;
	text-align: center;
	
}

.footLeft {
	display: inline-flex;
	margin: 0;
	padding: 0;
	color: white;
	text-decoration: none;

}

.footLeft li{
	list-style-type: none;
	margin:	0 -1vw;
	padding: 2vw;
}

.footLeft li > a {
	text-decoration: none;
	color: white;
}
	background-position: center;	

}

nav	{
	width: 100%;
	height: 50px;
	font-family: 'Acme', sans-serif;
	
}

nav > img {
	border-radius: 20%;
	height: 60px;
	width: 280px;
	position: absolute;
	right: 2%
}

nav img:hover {
	background-color: gray;
}

nav	a {
	display: block;
	float: left;
	font-size: 15px;
	color: gray;
	border:	1px solid #000;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-decoration: none;
}

span	{
	color: #fd941f;
}

nav	.nav:hover {
	background-color: #de9c62;
	color: black;

}

#logo {
	padding-left: 20px;
	padding-right: 40px;
	margin-right: 10px;
	margin-top: -20px;
	font-size: 40px;
}

.searchTab {
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px;
    border: 1px solid #fd941f;
    position: absolute;
    left: 68%;
    top: 5%;
}

.search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa-search{
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #fd941f;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: crosshair;
}

form:hover input{
    display: block;
}

form:hover .fa-search{
    color: #fd941f;
}

.about {
	color: white;
	position: absolute;
	top: 20%;
	padding-left: 70px;
	border: 1px solid #fd941f;
	border-radius: 10px;
}

.about > h1 {
	font-family: 'Acme', sans-serif;
	padding-left: 30px;
	font-size: 50px;
	color: #fd941f;
}

.about > p {
	padding-top: 30px;
	font-family: sans-serif;
	font-size: 18px;
}

/*FOOTER CSS Start */

.footer {
	height: 15vh;
	background-color: black;
	border-top: 1px solid #de9c62;
	font-family: sans-serif;
	text-align: center;
	
}

#footerlinks > a {
	margin-right: 20px;
	text-decoration: none;
	font-size: 15px;
	position: relative;
	top: 35px;

}

#footerlinks > a:visited{
	text-decoration: none;
	text-decoration-style: none;
	color: white;
}
#footerlinks > a > i:visited{
	text-decoration: none;
	color: white;
}
