*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.kaka {
	height: 100vh;
	background: url(../images/kaki.jpg);
	background-size: cover;
	background-position: center;	

}

nav	{
	width: 100%;
	height: 50px;
	font-family: 'Acme', sans-serif;
	
}

nav > img {
	border-radius: 20%;
	height: 60px;
	width: 280px;
	position: absolute;
	right: 2%
}

nav img:hover {
	background-color: gray;
}

nav	a {
	display: block;
	float: left;
	font-size: 15px;
	color: gray;
	border:	1px solid #000;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-decoration: none;
}

span	{
	color: #fd941f;
}

nav	.nav:hover {
	background-color: #de9c62;
	color: black;

}

#logo {
	padding-left: 20px;
	padding-right: 40px;
	margin-right: 10px;
	margin-top: -20px;
	font-size: 40px;
}

.searchTab {
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px;
    border: 1px solid #fd941f;
    position: absolute;
    left: 68%;
    top: 5%;
}

.search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa-search{
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #fd941f;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: crosshair;
}

form:hover input{
    display: block;
}

form:hover .fa-search{
    color: #fd941f;
}

.faq {
	color: white;
	position: absolute;
	top: 20%;
	width: 30%;
	left: 50px;

}

.faq span {
	color: #de9c62;
}

.faq h2 {
	color: #fd941f;
	font-family: 'Acme', sans-serif;
	text-align: center;
	font-size: 20px;
}

.faq > p {
	padding-top: 25px;
	font-family: sans-serif;
	text-align-last: center;

}

.contactus h2 {
  color: #fd941f;
  padding: 20px;
  font-family: 'Acme', sans-serif;
  font-size: 60px;
  position: relative;
  text-align: center;
  width: 80%
}

.contactus > .contact{
	width: 50%;
	padding: 50px;
	position: absolute;
	left: 35%;
	bottom: 17%
	
}

.feedback-input {
  color:white;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:1px solid #de9c62;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:80%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
	border:3px solid #de9c62; 

}

textarea {
  height: 150px;
  line-height: 150%;
  resize: horizontal;
}

.submit1 {
  height: 70px;	
  width: 30%;
  background-color: #de9c62;
  border-radius:5px;
  border:0;
  cursor: pointer;
  color:white;
  font-size:14px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
}

.button1 {
	position: absolute;
	left: 25%;
	width: 100%;
}
.submit1:hover {
	background-color: orange;
  	box-shadow: 0px 15px 20px rgba(235, 151, 78, .7);
  	color: #fff;
  	transform: translateY(-7px); 
}

/*FOOTER CSS Start */

.footer {
	height: 15vh;
	background-color: black;
	border-top: 1px solid #de9c62;
	font-family: sans-serif;
	text-align: center;
	
}

#footerlinks > a {
	margin-right: 20px;
	text-decoration: none;
	font-size: 15px;
	position: relative;
	top: 35px;

}

#footerlinks > a:visited{
	text-decoration: none;
	text-decoration-style: none;
	color: white;
}
#footerlinks > a > i:visited{
	text-decoration: none;
	color: white;
}


