*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	
}

.kaka {
	height: 120vh;
	background: url(../images/kaki.jpg);
	background-size: cover;
	background-position: center;	

}

nav	{
	width: 100%;
	height: 50px;
	font-family: 'Acme', sans-serif;
	
}

nav > img {
	border-radius: 20%;
	height: 60px;
	width: 280px;
	position: absolute;
	right: 2%
}

nav img:hover {
	background-color: gray;
}

nav	a {
	display: block;
	float: left;
	font-size: 15px;
	color: gray;
	border:	1px solid #000;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-decoration: none;
}

span {
	color: #fd941f;
}

nav	.nav:hover {
	background-color: #de9c62;
	color: black;

}

#logo {
	padding-left: 20px;
	padding-right: 40px;
	margin-right: 10px;
	margin-top: -20px;
	font-size: 40px;
}

.searchTab {
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px;
    border: 1px solid #fd941f;
    position: absolute;
    left: 68%;
    top: 5%;
}

.search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa-search{
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #fd941f;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: crosshair;
}

form:hover input{
    display: block;
}

form:hover .fa-search{
    color: #fd941f;
}

.youtube {
	border: 1px solid #de9c62;
	position: relative;
	top: 40px;
}

.youtube > img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid #de9c62;
	position: absolute;
	margin-left: 150px;

}

.youtube > p {
	color: white;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
	width: 50%;
	position: absolute;
	margin-left: 48%;
	margin-top: -100px;
}

.awplore {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.dragonlore {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*FOOTER CSS Start */

.footer {
  height: 15vh;
  background-color: black;
  border-top: 1px solid #de9c62;
  font-family: sans-serif;
  text-align: center;
  
}

#footerlinks > a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  top: 35px;

}

#footerlinks > a:visited{
  text-decoration: none;
  text-decoration-style: none;
  color: white;
}
#footerlinks > a > i:visited{
  text-decoration: none;
  color: white;
}


.box{
	position: absolute;
  	top:70%;
  	left:20%;
  	font-family: sans-serif;

}

.btn:link, .btn:visited {
  	text-decoration: none;
  	text-transform:uppercase;
  	position:relative;
  	top:0;
  	left:0;
  	padding:20px 40px;
  	border-radius:100px;
  	display:inline-block;
  	transition: all .5s;
}

.btn-white{
  	background: #de9c62;
  	color: black;
}

.btn:hover{
   	box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   	transform : translateY(-3px);
}

.btn:active{
  	box-shadow:0px 5px 10px rgba(0,0,0,0.2)
  	transform:translateY(-1px);
}

.btn-bottom-animation-1{
  	animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  	content:"";
  	text-decoration: none;
  	text-transform:uppercase;
  	position:absolute;
  	width:100%;
  	height:100%;
  	top:0;
  	left:0;
  	border-radius:100px;
  	display:inline-block;
  	z-index:-1;
  	transition: all .5s;
}

.btn-white::after {
    background: #fff;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  } 
  100%{
    opacity:1;
    transform:translateY(0);
  }
}