*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	
}

.kaka {
	height: 100vh;
	background: url(../images/kaki.jpg);
	background-size: cover;
	background-position: center;	

}

nav	{
	width: 100%;
	height: 50px;
	font-family: 'Acme', sans-serif;
	
}

nav > img {
	border-radius: 20%;
	height: 60px;
	width: 280px;
	position: absolute;
	right: 2%
}

nav img:hover {
	background-color: gray;
}

nav	a {
	display: block;
	float: left;
	font-size: 15px;
	color: gray;
	border:	1px solid #000;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-decoration: none;
}

span	{
	color: #fd941f;
}

nav	.nav:hover {
	background-color: #de9c62;
	color: black;

}

#logo {
	padding-left: 20px;
	padding-right: 40px;
	margin-right: 10px;
	margin-top: -20px;
	font-size: 40px;
}

form{
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px;
    border: 1px solid #fd941f;
    position: absolute;
    left: 68%;
    top: 5%;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa-search{
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #fd941f;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: crosshair;
}

form:hover input{
    display: block;
}

form:hover .fa-search{
    color: #fd941f;
}

.welcome {
	color: #de9c62;
	font-size: 50px;
	display: flex;
	justify-content: center;
	font-family: 'Acme', sans-serif;
	width: 100%;
	margin-top: 5%

}

.buy {
	color: white;
	display: flex;
	justify-content: center;
	font-family: 'Acme', sans-serif;
	width: 100%;
	font-size: 30px;

}

.projects{
	position: absolute;
	left: 30%;
	top: 45%;

}

.myprojects img{
	height: 250px;
	width: 300px;
	border-radius: 5%;
	border: 1px solid #de9c62;
}

.myprojectpic{
	width: 40vw;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.img{
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}

.center{
	transition: .5s ease;
	opacity: 0;
	bottom: 50px;
	left: 50%;
	position: relative;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 1;
}

.imgcontainer:hover .img{
	opacity: 0.5;
	cursor: crosshair;
}

.imgcontainer:hover .center{
	opacity: 1;
}

.text:hover {
	cursor: crosshair;

}
.text{
	background-color: #de9c62;
	color: black;
	font-size: 16px;
	padding: 16px 32px;
	text-align: center;
	font-weight: bold;

}

/*FOOTER CSS Start */

.footer {
	height: 15vh;
	background-color: black;
	border-top: 1px solid #de9c62;
	font-family: sans-serif;
	text-align: center;
	
}

#footerlinks > a {
	margin-right: 20px;
	text-decoration: none;
	font-size: 15px;
	position: relative;
	top: 35px;

}

#footerlinks > a:visited{
	text-decoration: none;
	text-decoration-style: none;
	color: white;
}
#footerlinks > a > i:visited{
	text-decoration: none;
	color: white;
}




