*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;

}

.kaka {
	height: 100vh;
	background: url(../images/kaki.jpg);
	background-size: cover;
	background-position: center;
}

/*NAV CSS*/

nav	{
	width: 100%;
	height: 50px;
	font-family: 'Acme', sans-serif;
	
}

nav > img {
	border-radius: 20%;
	height: 60px;
	width: 280px;
	position: absolute;
	right: 2%;

}

nav img:hover {
	background-color: gray;
	cursor: pointer;

}

nav	a {
	display: block;
	float: left;
	font-size: 15px;
	color: gray;
	border:	1px solid #000;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-decoration: none;

}

span{
	color: #fd941f;
}

nav	.nav:hover {
	background-color: #de9c62;
	color: black;

}

#logo {
	padding-left: 20px;
	padding-right: 40px;
	margin-right: 10px;
	margin-top: -20px;
	font-size: 40px;

}

form{
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px;
    border: 1px solid #fd941f;
    position: absolute;
    left: 68%;
    top: 5%;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa-search{
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #fd941f;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: crosshair;
}

form:hover input{
    display: block;
}

form:hover .fa-search{
    color: #fd941f;
}

/*HEAD CSS*/

.welcome {
	color: #de9c62;
	display: flex;
	justify-content: center;
	font-family: 'Acme', sans-serif;
	width: 100%;
	padding-top: 50px;
	font-size: 40px;
	letter-spacing: 0.1em;
  	transition: 0.3s;
  	text-shadow: 1px 1px 0 grey, 1px 2px 0 black, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 black, 1px 8px 0 grey,
    5px 13px 15px black;
}

.welcome h1:hover {
  	transition: 0.3s;
  	transform: scale(1.4)translate(-0%, -0%);
  	text-shadow: 1px 1px 0 grey, 1px 2px 0 black, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 black, 1px 8px 0 grey,
    5px 13px 15px black;
}

.buy {
	color: whitesmoke;
	display: flex;
	justify-content: center;
	font-family: 'Acme', sans-serif;
	width: 100%;
	font-size: 20px;
	letter-spacing: 0.1em;
	padding-top: 10px;

}

.skins {
	color: #de9c62;
	font-family: 'Acme', sans-serif;
	width: 100%;
	margin: 0 auto;
	list-style-type: none;
	position: relative;
	top: 5vw;

	
}

.skins li {
	display: inline;
	padding: 105px;
	
}

/*IMAGE CATEGORY*/
  	
.catg {
	width: 100%;
	display: flex;
	justify-content: center;
}

.catg > div > a > img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	transition: .5s;
	margin: 20px;
	border: 1px solid gray;

}

.catg div {
	position: absolute;
	top: 47%;
}

.catg img:hover{
	transform: scale(1.3);
	transition: .5s;
	cursor: crosshair;
}

.catg img:active{
	transform: scale(1);
}



/*FOOTER CSS Start */

.footer {
	height: 15vh;
	background-color: black;
	border-top: 1px solid #de9c62;
	font-family: sans-serif;
	text-align: center;
	
}

#footerlinks > a {
	margin-right: 20px;
	text-decoration: none;
	font-size: 15px;
	position: relative;
	top: 35px;

}

#footerlinks > a:visited{
	text-decoration: none;
	text-decoration-style: none;
	color: white;
}
#footerlinks > a > i:visited{
	text-decoration: none;
	color: white;
}


/* Phone CSS*/

@media only screen and (max-width: 375px) {
	.catg > div > a > img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: .5s;
	margin: 20px;
	border: 1px solid gray;
	}	
}